# services:
#   db:
#     image: postgres:15
#     container_name: respira_db
#     restart: always
#     environment:
#       POSTGRES_DB: ${DB_NAME}
#       POSTGRES_USER: ${DB_USER}
#       POSTGRES_PASSWORD: ${DB_PASSWORD}
#     ports:
#       - "5433:5432"
#     volumes:
#       - postgres_data:/var/lib/postgresql/data

#   web:
#     build: .
#     container_name: respirabackend
#     command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
#     volumes:
#       - .:/app
#     ports:
#       - "8001:8000"
#     env_file:
#       - .env
#     depends_on:
#       - db

# volumes:
#   postgres_data:
version: "3.9"

services:
  web:
    build: .
    container_name: respirabackend
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    restart: always
    ports:
      - "8000:8000"
